PORT=4173
MONGODB_URI=mongodb://diezeboti_db_user:1orTJrgzcaJ8I69L@nigga.dvyre78.mongodb.net/?appName=Nigga
SESSION_SECRET=change-this-to-a-random-long-secret
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:4173/auth/google/callback
OXAPAY_MERCHANT_API_KEY=V4XVPI-ACWJK7-WBS7NW-UX9BFH
